<div style='font-family: Poppins'>
    <table role='content' style='padding: 10px 0px; color: #363740; font-size: 16px;'>
        <tr>
            <td style='padding-bottom: 24px; font-weight: 600'>
                Xin chào {{name}},
            </td>
        </tr>

        <tr>
            <td>
                Sản phẩm bạn đang quan tâm mới có thay đổi về giá.
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 0px;">
                <span style="font-weight: bold; font-size: 20px; color: #FF5733;">{{productName}}</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 0px;">
                <span style="font-weight: bold; font-size: 16px; color: #666;">Giá mới: <span
                        style="color: #FF5733;">{{newPriceUSD}}</span></span>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 0px;">
                <span style="font-weight: bold; font-size: 16px; color: #666;">Giá về tay: <span
                        style="color: #FF5733;">{{newPrice}}</span></span>
            </td>

        </tr>
        <tr>
            <td>
                <span style="font-size: 16px; color: #666;">Ảnh minh họa:</span>
                <br />
                <img src="{{thumbnailImages}}" alt="Thumbnail"
                    style="max-width: 100px; margin-right: 10px;">
            </td>
        </tr>


        <tr>
            <td style="padding: 10px 0px;">
                <span style="font-size: 16px; color: #666;">Tình trạng sản phẩm: {{conditionOrder}}</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 0px;">
                <span style="font-size: 16px; color: #666;">Danh mục sản phẩm: {{category}}</span>
            </td>
        </tr>
        <tr>
            <td>
                Hãy truy cập trang web của chúng tôi để cập nhật thông tin và mua hàng.
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 0px;">
                Link sản phẩm: <a
                    href="https://www.orderus.vn/product-detail/{{productId}}">https://www.orderus.vn/product-detail/{{productId}}</a>
            </td>
        </tr>
        <tr>
            <td style='padding-bottom: 16px;'>
                Chúc bạn săn dược Deal ngon!
            </td>
        </tr>

        <tr>
            <td style='padding-bottom: 8px;'>
                <span>Trân trọng,</span>
                <br />
            </td>
        </tr>
        <tr>
            <td style='padding-bottom: 8px;'>
                <span style='font-weight: 600'>Nhóm Quản trị</span>
            </td>
        </tr>
        <tr>
            <td style='padding-bottom: 8px;'>
                <span style='font-weight: 800'>Orderus.vn</span>
            </td>
        </tr>
    </table>
</div>